* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: flex-end;
  background-color: #6a5acd;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

img {
  align-self: center;
}

ul {
  padding: 0;
}

ul li {
  display: inline;
  padding: 10px;
  background-color: #b0c4de;
  color: #fff;
}

.apply-button {
  background: orange;
  margin-right: 100px;
  border: 0;
  padding: 5px 10px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #dbdbdb;
  padding: 10px 100px;
}

.news-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 30px;
}

.news-entry {
  width: 400px;
  overflow-x: hidden;
  background-color: #fff;
  padding: 30px;
}

.upper-content {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #808080;
}

.date {
  align-self: flex-end;
  margin-bottom: 0;
}

.active {
  background-color: #ffa500;
}
